CompileFlags:
  Compiler: "C:/Keil_v5/ARM/ARMCLANG/bin/armclang.exe"
  Add:
    - "--target=arm-arm-none-eabi"
    - "-mcpu=cortex-m7"
    - "-mthumb"
    - "-std=c99"
    - "-Wno-invalid-source-encoding"
    - "-IC:/Keil_v5/ARM/ARMCLANG/include"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/project/user/inc"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/Freertos"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/Freertos/include"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/Freertos/portable/GCC/ARM_CM7/r0p1"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/Freertos/osa"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/sdk/CMSIS/Include"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/sdk/CMSIS/DSP/Include"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/sdk/CMSIS/DSP/PrivateInclude"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/sdk/startup/mdk"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/sdk/deceive"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/sdk/drives"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/sdk/xip"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/sdk/utilities"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/sdk/utilities/debug_console"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/sdk/utilities/str"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/sdk/cmsis_drivers"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/sdk/CMSIS/Driver/Include"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/sdk/components/lists"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/sdk/components/osa"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/sdk/components/serial_manager"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/sdk/components/uart"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/sdk/board"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/components/fatfs/source"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/components/fatfs/source/fsl_sd_disk"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/components/sdmmc"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/components/sdmmc/common"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/components/sdmmc/host/usdhc"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/components/sdmmc/osa"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/components/sdmmc/sd"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/components/usb/device"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/components/usb/include"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/components/usb/phy"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/components/usb/usb_cdc_adapter"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/zf_common"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/zf_driver"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/zf_device"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/zf_components"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/myAlgorithm"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/myAlgorithm/EKF"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/myAlgorithm/kalman"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/myAlgorithm/lqr"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/myAlgorithm/pid"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/myAlgorithm/madgwick"
    - "-ID:/smartcar/myCode/SeekFree_RT1064_Opensource_Library/libraries/myAlgorithm/math"
    - "-DCPU_MIMXRT1064DVL6A"
    - "-DSKIP_SYSCLK_INIT"
    - "-DXIP_EXTERNAL_FLASH=1"
    - "-DXIP_BOOT_HEADER_DCD_ENABLE=1"
    - "-DXIP_BOOT_HEADER_ENABLE=1"
    - "-DPRINTF_FLOAT_ENABLE=1"
    - "-DSCANF_FLOAT_ENABLE=1"
    - "-DPRINTF_ADVANCED_ENABLE=1"
    - "-DSCANF_ADVANCED_ENABLE=1"
    - "-DFSL_DRIVER_TRANSFER_DOUBLE_WEAK_IRQ=0"
    - "-DUSB_STACK_BM"
    - "-DSDK_OS_FREE_RTOS"
    - "-DDEBUG"
    - "-DMCUXPRESSO_SDK"
    - "-DSD_ENABLED"

